---
master: ''
irc:
  channels:
    alerts: []
    general: []
  nickname: ''
  password: ''
  server: ''
  username: ''
twilo:
  auth: ''
  from: ''
  sid: ''
users: []
state_file: ''
circonus:
  oncall_group: ''
liquidplanner:
  recurring: ''
  urgent: []
  workspace: ''
nag_grace_period: 900
time_zones: []

